<article class='space-y-6'>
	<h1 class='font-bold text-primary text-4xl'>Combined Resourcepack</h1>

	<div class='space-y-4'>
		<p>
			I could have played with the default textures of Minecraft. However,
			the sky and same-looking enchanted books felt kinda boring. So
			combined 25 different texture packs and made my own.
		</p>

		<p>
			<span class='underline underline-offset-2'>Note:</span> Some of its
			textures or animations won't work if you don't have the required
			mods. Check the <a
				class='text-accent underline underline-offset-2'
				href='/mods-folder'>mods list</a
			> to find out what to download alongside.
		</p>
	</div>

	<h2 class='font-bold my-6 text-primary text-3xl'>List of Resourcepacks</h2>

	<div class='space-y-2'>
		<p class='text-accent'>Library mods,</p>

		<ol class='list-decimal list-inside'>
			<li>Banana Essentials</li>
			<li>Legacy Glint</li>
			<li>Better Boats</li>
			<li>Animated Inventory GUI</li>
			<li>Better Bookshelves</li>
			<li>Animated Ores</li>
			<li>Better Cats</li>
			<li>Better Horses</li>
			<li>Better Dogs</li>
			<li>Card of Uno Reverse</li>
			<li>Clean Waters</li>
			<li>Dramatic Skys</li>
			<li>Embellished Stone</li>
			<li>Enchant Icons</li>
			<li>Enchanted Book Covers</li>
			<li>End Panorama With Shaders</li>
			<li>Fancy Crops</li>
			<li>Gleamless</li>
			<li>Kosmolot's Colored Subtitles</li>
			<li>Kruemelig's Exclamation Mark</li>
			<li>Skulls on Infested</li>
			<li>Twemoji Visibility</li>
			<li>Vanilla XBR</li>
			<li>XK Highlight Block</li>
			<li>Loading Backgrounds</li>
		</ol>
	</div>
</article>
