---
import Logo from "./Logo.astro";
---

<header class='flex h-16 items-center justify-start px-4 md:px-12'>
	<div class='flex h-full items-center space-x-2'>
		<Logo className='h-3/5 w-auto' />
		<div class='font-semibold text-accent text-3xl'>Rimolib</div>
	</div>
</header>
