<article class='space-y-6'>
	<h1 class='font-bold text-primary text-4xl'>
		Client-Side Fabric Mods 1.20.1
	</h1>

	<div class='space-y-4'>
		<p>
			Recently, I decided to customize my tlauncher as much as possible
			without affecting my FPS. Normally it comes around 60. But I wanted
			to play with at least 150 FPS and a fully customized GUI. So I
			gathered a bunch of fabric mods and would like to share them with
			you all.
		</p>

		<p>
			<span class='underline underline-offset-2'>Note:</span> All the mods
			are of v1.20.1; You just need to extract the zip file and replace
			your mod folder with its content.
		</p>
	</div>

	<h2 class='font-bold my-6 text-primary text-3xl'>List of Mods</h2>

	<div class='grid grid-cols-1 md:grid-cols-2'>
		<div class='space-y-4'>
			<div class='space-y-2'>
				<p class='text-accent'>For FPS boosting,</p>

				<ol class='list-decimal list-inside'>
					<li>Better FPS Distance</li>
					<li>Better Sodium Video Settings Buttons</li>
					<li>Clumps</li>
					<li>Cull Leaves</li>
					<li>Dashloader</li>
					<li>Entity Culling</li>
					<li>Farsight</li>
					<li>Ferritecore</li>
					<li>FPS Reducer</li>
					<li>Immediatly Fast</li>
					<li>Indium</li>
					<li>Lamb Dynamic Lights</li>
					<li>LazyDFU</li>
					<li>Lithium</li>
					<li>Memory Leak Fix</li>
					<li>ModernFix</li>
					<li>Not Enough Crashes</li>
					<li>Reeses Sodium Options</li>
					<li>Sodium Extra</li>
					<li>Sodium</li>
					<li>Starlight</li>
				</ol>
			</div>

			<div class='space-y-2'>
				<p class='text-accent'>For chat and resourcepack,</p>

				<ol class='list-decimal list-inside'>
					<li>Calc Mod</li>
					<li>Chat Notify</li>
					<li>Chat Signing Hider</li>
					<li>Plaques Chat Timestamps</li>
					<li>Suggestion Tweaker</li>
					<li>Symbol Chat</li>
					<li>Advancement Plaques</li>
					<li>Animatica</li>
					<li>CIT Resewn</li>
					<li>Continuity</li>
					<li>Entity Model Features</li>
					<li>Entity Texture Features</li>
					<li>Fabric Skyboxes</li>
					<li>Loading Backgrounds</li>
				</ol>
			</div>

			<div class='space-y-2'>
				<p class='text-accent'>Library mods,</p>

				<ol class='list-decimal list-inside'>
					<li>Attribute Fix</li>
					<li>Cloth Config</li>
					<li>Cupboard</li>
					<li>Fabric API</li>
					<li>Fabric Language Kotlin</li>
					<li>Forge Config API Port</li>
					<li>Fusion</li>
					<li>Iceberg</li>
					<li>LibIPN</li>
					<li>Malilib</li>
					<li>Prism</li>
					<li>Puzzles Lib</li>
					<li>SuperMartijn642's Core Lib</li>
					<li>Yet Another Config Lib</li>
					<li>Yungs API</li>
				</ol>
			</div>
		</div>

		<div class='space-y-2'>
			<p class='text-accent'>For extra features,</p>

			<ol class='list-decimal list-inside'>
				<li>3d Skin Layers</li>
				<li>Auto Elytra</li>
				<li>Better F3</li>
				<li>Better Ping Display</li>
				<li>Boat Item View</li>
				<li>Clean Tooltips</li>
				<li>Clear Despawn</li>
				<li>Coordinates Display</li>
				<li>Custom Crosshair Mod</li>
				<li>Dark Loading Screen</li>
				<li>Disable Custom Worlds Advice</li>
				<li>Eating Animation</li>
				<li>Explosive Enhancement</li>
				<li>Falling Leaves</li>
				<li>Freecam</li>
				<li>Gamma Utils</li>
				<li>Highlighter</li>
				<li>Inventory Hud</li>
				<li>Iris Shaders</li>
				<li>Item Borders</li>
				<li>Jade</li>
				<li>Jade Addons</li>
				<li>Just Enough Effect Descriptions</li>
				<li>Just Enough Items</li>
				<li>Just Enough Breeding</li>
				<li>Just Enough Professions</li>
				<li>Just Enough Resources</li>
				<li>Legendary Tooltips</li>
				<li>Litematica</li>
				<li>Longer Chat History</li>
				<li>Mod Menu</li>
				<li>Mouse Tweaks</li>
				<li>Nicer Skies</li>
				<li>No Fog</li>
				<li>No Hurt Cam+</li>
				<li>Not Enough Animations</li>
				<li>Notes</li>
				<li>Overflowing Bars</li>
				<li>Player Health Indicators</li>
				<li>Replay Mod</li>
				<li>Replay Voice Chat</li>
				<li>Server Country Flags</li>
				<li>Shulker Box Tooltip</li>
				<li>Smooth Swapping</li>
				<li>Sound Controller</li>
				<li>Status Effect Bars</li>
				<li>Stendhal</li>
				<li>Travelers Title</li>
				<li>Simple Voice Chat</li>
				<li>Zoomify</li>
			</ol>
		</div>
	</div>
</article>
