---
import Layout from "../layouts/Layout.astro";
import Header from "../components/shared/Header.astro";
import Hero from "../components/Home/Hero.astro";
import Assets from "../components/Home/Assets.astro";
---

<Layout title='Rimolib | Assets of Rimonet'>
	<Header />

	<main class='py-8 space-y-12'>
		<Hero />
		<Assets />
	</main>
</Layout>
