---
import Layout from "../layouts/Layout.astro";
import Header from "../components/shared/Header.astro";
import Article from "../components/Mods-Folder/Article.astro";
---

<Layout title='Rimolib | Mods Folder'>
	<Header />

	<main class='mx-auto py-6 w-5/6'>
		<Article />
	</main>
</Layout>
