<section class='space-y-6'>
	<h1 class='font-semibold text-primary text-center text-5xl'>
		A Place To Store My Assets
	</h1>

	<p class='mx-auto text-center w-3/5'>
		Whenever I decide to share something with everyone, it will appear on
		this site. So you can easily just download it from here and follow the
		instructions.
	</p>
</section>
